<?xml version="1.0"?>
<config>
    <modules>
        <KProject_ShareASale>
            <version>0.1.0</version>
        </KProject_ShareASale>
    </modules>
    <global>
        <blocks>
            <kproject_sas>
                <class>KProject_ShareASale_Block</class>
            </kproject_sas>
        </blocks>
        <helpers>
            <kproject_sas>
                <class>KProject_ShareASale_Helper</class>
            </kproject_sas>
        </helpers>
        <models>
            <kproject_sas>
                <class>KProject_ShareASale_Model</class>
                <resourceModel>kproject_sas_mysql4</resourceModel>
            </kproject_sas>
            <kproject_sas_mysql4>
                <class>KProject_ShareASale_Model_Mysql4</class>
                <entities>
                    <orders>
                        <table>kproject_sas_orders</table>
                    </orders>
                </entities>
            </kproject_sas_mysql4>
        </models>
        <resources>
            <kproject_sas_setup>
                <setup>
                    <module>KProject_ShareASale</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kproject_sas_setup>
            <shareasale_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shareasale_write>
            <shareasale_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shareasale_read>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <kproject_shareasale_new_order>
                        <type>singleton</type>
                        <class>kproject_sas/observer</class>
                        <method>newOrderTransaction</method>
                    </kproject_shareasale_new_order>
                </observers>
            </sales_order_place_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <kproject_shareasale_refund_order>
                        <type>singleton</type>
                        <class>kproject_sas/observer</class>
                        <method>refundOrderTransaction</method>
                    </kproject_shareasale_refund_order>
                </observers>
            </sales_order_creditmemo_refund>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <kproject_sas>
                    <file>kproject/sas/checkout.xml</file>
                </kproject_sas>
            </updates>
        </layout>
        <!--<events>
            <controller_action_predispatch>
                <observers>
                    <kproject_shareasale_set_params>
                        <type>singleton</type>
                        <class>kproject_sas/observer</class>
                        <method>setParameters</method>
                    </kproject_shareasale_set_params>
                </observers>
            </controller_action_predispatch>
        </events>-->
    </frontend>
    <default>
        <kproject_sas>
            <api_new>
                <enabled>0</enabled>
                <affiliate_key>userID</affiliate_key>
                <click_key>sscid</click_key>
            </api_new>
        </kproject_sas>
    </default>
    <crontab>
        <jobs>
            <shareasale_submit_failed_transactions>
                <schedule>
                    <cron_expr>0 2 * * *</cron_expr><!-- Every day at 2 am -->
                </schedule>
                <run>
                    <model>kproject_sas/cron::submitFailedTransactions</model>
                </run>
            </shareasale_submit_failed_transactions>
            <shareasale_remove_successful_transactions>
                <schedule>
                    <cron_expr>0 2 * * 6</cron_expr><!-- Saturday at 2am -->
                </schedule>
                <run>
                    <model>kproject_sas/cron::deleteSuccessfulTransactions</model>
                </run>
            </shareasale_remove_successful_transactions>
        </jobs>
    </crontab>
</config>
